<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo01</title>
    <link rel = "stylesheet", type="text/css", href="css/bootstrap.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript">
        // [requires]
        var app = angular.module("mainApp", [])
        app.controller("mainCtrl", ["$scope", "$log", function ($scope, $log) {
            $scope.message = "Hello world!";
            $scope.x = 10;
            $scope.name = "";
            $scope.nameWithPrefix = "Mr. " + $scope.name;
            // dirty check
            $scope.$watch("name", function (newVal, oldVal) {
                console.log($scope.$watch);
                console.log(newVal, oldVal);
            })
        }])

        app.controller("anotherCtrl", function () {
            this.msg = "Hello from another controller!";
        })
    </script>
</head>

<body ng-app="mainApp">     <!--ng-app: let the body become AngularJS program entrance -->
<div class="container" ng-controller="mainCtrl">  <!--ng-controller: keyword, $scope=this-->
<!--The ngController directive attaches a controller class to the view. This is a key aspect
of how angular supports the principles behind the Model-View-Controller design pattern.-->
    <h1>Angular Data Binding</h1>
    <hr>
    <h2>One Way Binding</h2>
    <div>
        <p>Binded Message: {{ message }}</p>
        <p>Another Message: <span ng-bind="message"></span></p>
        <p>Changed Message: {{ message | uppercase }}</p>
        <p>x: {{ x | currency }}</p>
    </div>
    <hr>
    <h2>Two way Binding</h2>
    <p>Input your name: <input type="text" id="name" ng-model="name"></p>
    <p>Your name is: {{ name }}</p>  <!--able to convert to controller-->
    <p>Input your name with Prefix: <input type="text" id="name2" ></p>
    <p>Your name with Prefix is: {{ nameWithPrefix}}</p>   <!--unable, because of not binding to ng-model-->
    <hr>
    <h2>One Time Binding</h2>
    <p><input type="text" ng-model="count"></p>
    <p>Count: {{ count }}</p>
    <p>Fixed Count: {{ ::count }}</p>  <!--one-time binding-->
    <p>Once count becomes defined and contains a value, Angular will unbind it and any Model updates won’t affect the View</p>
</div>
<hr>
<div class="container" ng-controller="anotherCtrl as ac">
    <h1>Controller without $scope.</h1>
    <p>Message: {{ ac.msg }}</p>
</div>
</body>
</html>



