<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo05</title>
    <link rel = "stylesheet", type="text/css", href="css/bootstrap.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-animate.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("mainApp", []);
        app.controller("mainCtrl", ["$scope", "$rootScope", function ($scope, $rootScope) {
            $rootScope.person = {  // 1. use $rootScope
                name: "Alice"
            }
            $rootScope.x;
            // $on(EventName, listener-function(event, args);
            $scope.$on("updatex", function (e, val) {
                console.log("parent receiveds " + val);
                $scope.$broadcast("updatey", val);   // to child
            })
        }])

        app.controller("firstCtrl", ["$scope", "address", function ($scope, address) {
            // $watch(watchExpression, listener); keyword: newVal, oldVal
            $scope.$watch("x", function (newVal, oldVal) {
                // $emit(EventName, args)
                $scope.$emit("updatex", newVal);  // to parent
            })
            $scope.address = address;
            // $scope.address.state = "DE"
        }])

        app.controller("secondCtrl", ["$scope", "address", function ($scope, address) {
            $scope.$on("updatey", function (e, val) {
                $scope.y = 2 * val + 3;
            })
            $scope.address = address;
        }])

        // bind variable to angular.module() ($rootscope)
        app.value("address", {
            city: "Princeton",
            state: "NJ"
        })

    </script>
</head>

<body ng-app="mainApp">
<div class="container" ng-controller="mainCtrl">
    <h1>Communication between two Controllers(Scopes)</h1>
    <h3>$scope inherits from $rootscope</h3>
    <hr>
    <h2> Inside First Controller</h2>
    <div ng-controller="firstCtrl">
        <p>Input name: <input type="text" ng-model="person.name"></p>
        <p>Value of x: <input type="number" ng-model="x"></p>
        <p>City: <input type="text" ng-model="address.city"></p>
        <p>State: <input type="text" ng-model="address.state"></p>
    </div>
    <hr>
    <h2> Inside Second Controller</h2>
    <div ng-controller="secondCtrl">
        <p>Name: {{person.name}}</p>
        <p>Value of y = 2x + 3: {{y}}</p>
        <p> City: {{address.city}} </p>
        <p> State: {{address.state}} </p>
    </div>
</div>

</body>
</html>