<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo08</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("mainApp", []);
        app.controller("mainCtrl", ["$scope", "$http", "$q", function($scope, $http, $q) {
            $scope.doCal = function() {
                var url1 = "/cal/add/" + $scope.data.x + "/" + $scope.data.y;
                var url2 = "/cal/multiply/" + $scope.data.x + "/" + $scope.data.y;
                // sequentially
                $http.get(url1).then(function(res1) {
                    $http.get(url2).then(function(res2) {
                        $scope.result = res1.data/ res2.data;
                    });
                });
            };
            $scope.doCal2 = function() {
                var url1 = "/cal/add/" + $scope.data.x + "/" + $scope.data.y;
                var url2 = "/cal/multiply/" + $scope.data.x + "/" + $scope.data.y;
                // $q.defer(), $q.resolve(), $q.reject(). $q.when()
                // $q: A service that helps you run functions asynchronous
                $q.all([
                    $http.get(url1),
                    $http.get(url2)
                ]).then(function(res) {
                    $scope.result = res[0].data / res[1].data;
                });
            };
            $scope.doCal3 = function() {
                $q.all([
                    $http.post("/cal/add", $scope.data),
                    $http.post("/cal/multiply", $scope.data)
                ]).then(function(res) {
                    $scope.result = res[0].data / res[1].data;
                });
            };
        }])
    </script>
</head>
<body ng-app="mainApp">
<div class="container" ng-controller="mainCtrl">
    <h1>Demo: Calculator</h1>
    <hr>
    <div>
        <form role="form" class="form col-sm-6">
            <div class="form-group">
                <label for="x">Input x </label>
                <input type="number" class="form-control" ng-model="data.x" placeholder="5" min="1" max="100">
            </div>
            <div class="form-group">
                <label>Input y</label>
                <input type="number" class="form-control" ng-model="data.y" min="1" max="100">
            </div>
            <button class="btn btn-primary" ng-click="doCal()">Calculate1</button>
            <button class="btn btn-primary" ng-click="doCal2()">Calculate2</button>
            <button class="btn btn-primary" ng-click="doCal3()">Calculate3</button>
            <div>
                <h3>Result: {{ result }}</h3>
            </div>
        </form>
    </div>
</div>
</body>
</html>
