<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo02</title>
    <link rel = "stylesheet", type="text/css", href="css/bootstrap.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-animate.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("mainApp", ["ngAnimate"]);
        app.controller("mainCtrl", ["$scope", function ($scope) {
            $scope.person = {
                firstName: "bruce",
                lastName: "lee",
                getName: function () {
                    return this.firstName + " " + this.lastName;
                }
            }

            $scope.itemList = [
                {itemNo: "A001", price: 10, qty: 30, inStock: true},
                {itemNo: "A002", price: 20, qty: 3, inStock: true},
                {itemNo: "A001", price: 5, qty: 10, inStock: false},
                {itemNo: "A001", price: 11, qty: 7, inStock: true},
            ]
            $scope.doDelete = function (index) {
                $scope.itemList.splice(index, 1);
            }
        }])
    </script>
    <style>
        div#mydiv{
            width: 100px;
            height: 100px;
            background-color: blue;
            opacity: 0;
        }
        div.hiddenArea{
            -webkit-transition: all linear 2s;
            transition: all linear 2s;
            background-color: blue;
            height: 50px;
            widows: 50px;
        }
        .hiddenArea.ng-hide{
            opacity: 0;
        }
     </style>

</head>
<body ng-app="mainApp">
<div class="container" ng-controller="mainCtrl">
    <h1>Advanced Data Binding</h1>
    <hr>
    <h2>Binding for an object</h2>
    <p>First Name: <input type="text" ng-model="person.firstName"></p>
    <p>Last Name: <input type="text" ng-model="person.lastName"></p>
    <p>Full Name: {{person.getName()}}</p>
    <hr>
    <h2> Binding for Collections </h2>
    <table class="table table-bordered table-striped">;
        <thead>
        <tr>
            <th>Item Number</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Value</th>
            <th>In Stock</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in itemList">
            <td>{{item.itemNo}}</td>
            <td>{{item.price | currency}} </td>
            <td>{{item.qty}}</td>
            <td>{{item.price * item.qty | currency}} </td>
            <td>
                <input type="checkbox" ng-model="item.inStock" ng-disabled="false">
            </td>
            <td>
                <button class = "btn btn-link" ng-click="doDelete($index)">Delete</button>
                <!--$index: variable of ng-repeat -->
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
</div>
</body>
</html>