<div>
    <h3>This is a home page</h3>
    <p>Input name: <input type="text" ng-model="person.name"></p>
    <p>Name: {{person.name}}</p>
    <p>Input count: <input type="number" ng-model="$parent.count"></p>
    <p>Count: {{count}}</p>
    <p>Message: <input type="text" ng-model="data.message"></p>
</div>