<h2>All Person Info Page </h2>
<hr>

<hr>
<p>Search: <input ng-model="keyword"> <button ng-click="search()">Search</button></p>


<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th><a href="javascript:void(0)" ng-click="changeOrderByCol('name')">Name</a></th>
        <th><a href="javascript:void(0)" ng-click="changeOrderByCol('city')">City</a></th>
        <th><a href="javascript:void(0)" ng-click="changeOrderByCol('country')">Country</a></th>
    </tr>
    </thead>
    <tbody>
    <!--dirty check ???-->
    <tr ng-repeat="p in filteredItems | orderBy: orderByCol: reverse">
        <th>{{p.name}}</th>
        <th>{{p.city}}</th>
        <th>{{p.country}}</th>
    </tr>
    </tbody>
</table>

<div data-pagination="" data-num-pages="numOfPages()"
     data-current-page="curPage" data-max-size="maxSize"
     data-boundary-links="true"></div>



<!--
<p>Country: <input type="text" ng-model="p.country"></p>
<button class="btn btn-primary" ng-click="addPerson()">Add</button>
-->